<!DOCTYPE html>
<html lang="en" 
class="light" 
th:fragment="parent(content,title,script)" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">Base Page</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
</head>

<body class="bg-white dark:bg-gray-900 dark:text-white">
    <div th:replace="navbar :: navbar">

    </div>

    <div class="p-4">
        <section th:replace="${content}"></section>
    </div>
    <footer class="p-4">
        Footer: Learn Code With Ansh
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <th:block data-th-replace="${script}"></th:block>
</body>

</html>