<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background: #e4e4e4;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 data-th-text="${name}">Welcome to home</h1>
        <p> Github Repo :- <a data-th-href="${github_repo}">Click Me</a> </p>
       
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta magni soluta distinctio eum eos molestias itaque hic praesentium. Alias, et, adipisci nesciunt temporibus error libero repellat aliquid maxime placeat quibusdam, fugit rem. Et vero similique nisi, ea error unde eveniet aliquam ipsam iusto necessitatibus! Eligendi beatae adipisci totam temporibus sit.</p>
    </div>
</body>
</html>